{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'todolist/style.css' %}" />
{% load humanize %}

<div class="container">
	<a class="btn btn-primary" href="{% url 'todolist:create-task' %}">
		<div style="display: flex; align-items: center; gap: 12px">
			<div>Add new task</div>
			<img
				src="{% static 'todolist/images/plus.png' %}"
				alt="plus"
				style="width: 16px; height: 16px"
			/>
		</div>
	</a>
	{% for task in tasks %}
	<div key="task.id" class="task-container">
		<div style="display: flex; flex-direction: column; gap: 8px; flex-grow: 1">
			<div class="task-title">
				<div>{{ task.title }}</div>
				<a
					class="btn btn-danger"
					style="font-weight: bold; height: fit"
					href="{% url 'todolist:delete_task' task.id %}"
					>Delete</a
				>
			</div>
			<div class="task-description">
				<hr />
				<div style="font-size: 12px">{{ task.date | naturaltime }}</div>
				<pre style="font-size: 14px">{{ task.description }}</pre>
			</div>
		</div>
		<div class="task-checkbox-container">
			<a
				href="{% url 'todolist:invert-task-status' task.id %}"
				class="task-checkbox-background"
			>
				{% if task.is_finished %}
				<img
					src="{% static 'todolist/images/check.png' %}"
					alt="Check"
					style="width: 80%; height: 80%"
				/>
				{% endif %}
			</a>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock content %}
